<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Image Vision</title>
</head>
<body class="bg-gray-100">
    <div class="flex justify-center items-center h-screen">
        <form class="bg-white p-8 rounded-lg shadow-lg" action="/api/image-recognition" method="post" enctype="multipart/form-data">
            <h1 class="text-2xl font-bold mb-4">Welcome to Image Vision 👋</h1>
            <label for="image" class="block mb-2 text-gray-800 text-sm"><em>Please choose an image: </em></label>
            <input type="file" name="image" id="image" class="block w-full border rounded-lg py-2 px-3 mb-4 focus:outline-none focus:ring focus:border-blue-300">
            <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300 cursor-pointer">
                Generate
            </button>
            {{#if error}}
                <p class="text-red-500 text-sm mt-2">{{ error }}</p>
            {{/if}}
            {{#if classification}}
                <p class="text-sm mt-2 text-green-400">Classification: [{{ classification }}]</p>
                <p class="text-sm mt-2 text-green-400">Probability: {{ probability }}</p>
            {{/if}}
        </form>
        {{!-- {{#if image}}
            <div class="ml-8">
                <img src=`data:image/jpeg;base64,{{ base64Image }}` alt="Image" class="rounded-lg shadow-lg">
            </div>
        {{/if}} --}}
    </div>
</body>
</html>
